@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {  
    background-color: #282C33 !important;
    color: white !important;
    font-family: "fira code", monospace !important;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
}

main {
    margin-bottom: 5rem !important;
}

input::placeholder, textarea::placeholder {
    color: #ABB2BF !important;
    opacity: 1 !important;
}

.dots {
    background-image: radial-gradient(#ABB2BF 1px, transparent 1px);
    background-size: 15px 15px;
    width: 80px;
    height: 80px;
}

.text-purple {
    color: #C778DD !important;
}

.navbar {
    padding: 0% !important;
}

.blockquote-section {
    border: solid 2px black;
}

.pp-img {
    width: 450px;
}

.purple-square {
    width: 16px;
    height: 16px;
    background-color: #C778DD !important;
}


.project-card {
    width: 24rem !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    height: 250px !important;
    object-fit: cover !important;
}
