@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #282C33 !important;
    color: white !important;
    font-family: "fira code", monospace !important;
}

.navbar {
    padding: 0%!important;
}

.blockquote-section {
    border: solid 2px black;
}

.pp-img {
    width: 350px;
}